<div class="absolute w-[146px] h-[110px]" style="right: 0; bottom: 455px">
  <svg
    width="146"
    height="110"
    viewBox="0 0 145.24 109.178"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none"
  >
    <path
      d="M75.8327 67.1165H36.2281C35.8251 65.9799 34.7491 65.1602 33.4736 65.1602C31.8537 65.1602 30.5391 66.4729 30.5391 68.0947C30.5391 69.7146 31.8537 71.0292 33.4736 71.0292C34.7491 71.0292 35.8251 70.2095 36.2281 69.0729H75.0227L99.4772 93.5273H145.238V91.571H100.287L75.8327 67.1165Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M72.591 74.9407H36.2281C35.8251 73.8041 34.7491 72.9844 33.4736 72.9844C31.8537 72.9844 30.5391 74.2971 30.5391 75.9189C30.5391 77.5407 31.8537 78.8534 33.4736 78.8534C34.7491 78.8534 35.8251 78.0337 36.2281 76.8971H71.781L96.2355 101.352H145.238V99.3952H97.0454L72.591 74.9407Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M69.3493 82.7669H36.2281C35.8251 81.6303 34.7491 80.8105 33.4736 80.8105C31.8537 80.8105 30.5391 82.1233 30.5391 83.7451C30.5391 85.3669 31.8537 86.6796 33.4736 86.6796C34.7491 86.6796 35.8251 85.8599 36.2281 84.7233H68.5394L92.9939 109.178H145.238V107.221H93.8038L69.3493 82.7669Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M75.4159 32.7582H36.2281C35.8251 31.6215 34.7491 30.8018 33.4736 30.8018C31.8537 30.8018 30.5391 32.1165 30.5391 33.7364C30.5391 35.3582 31.8537 36.6709 33.4736 36.6709C34.7491 36.6709 35.8251 35.8531 36.2281 34.7145H76.2259L102.459 8.48175H145.238V6.52539H101.651L75.4159 32.7582Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M78.6581 40.5827H11.7369V5.6891C12.8736 5.28413 13.6933 4.21008 13.6933 2.93454C13.6933 1.31272 12.3786 0 10.7588 0C9.13889 0 7.82422 1.31272 7.82422 2.93454C7.82422 4.21008 8.64393 5.28609 9.78058 5.6891V42.5391H79.468L105.701 16.3063H145.239V14.3499H104.891L78.6581 40.5827Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M81.899 48.4105H5.68907C5.2841 47.2739 4.21008 46.4542 2.93454 46.4542C1.31467 46.4542 0 47.7669 0 49.3887C0 51.0105 1.31467 52.3232 2.93454 52.3232C4.21008 52.3232 5.2841 51.5035 5.68907 50.3669H82.7089L108.944 24.1341H145.24V22.1777H108.134L81.899 48.4105Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M85.139 56.2347H36.2281C35.8251 55.0981 34.7491 54.2784 33.4736 54.2784C31.8537 54.2784 30.5391 55.5911 30.5391 57.2129C30.5391 58.8347 31.8537 60.1475 33.4736 60.1475C34.7491 60.1475 35.8251 59.3278 36.2281 58.1911H85.949L112.182 31.9583H145.238V30.002H111.372L85.139 56.2347Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M124.696 44.6758C123.076 44.6758 121.762 45.9885 121.762 47.6103C121.762 49.2321 123.076 50.5449 124.696 50.5449C125.972 50.5449 127.046 49.7251 127.451 48.5885H145.238V46.6321H127.451C127.046 45.4955 125.972 44.6758 124.696 44.6758Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M112.958 52.5C111.338 52.5 110.023 53.8127 110.023 55.4345C110.023 57.0564 111.338 58.3691 112.958 58.3691C114.234 58.3691 115.308 57.5494 115.713 56.4127H145.238V54.4564H115.713C115.308 53.3197 114.234 52.5 112.958 52.5Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M112.958 60.3262C111.338 60.3262 110.023 61.6389 110.023 63.2607C110.023 64.8825 111.338 66.1952 112.958 66.1952C114.234 66.1952 115.308 65.3755 115.713 64.2389H145.238V62.2825H115.713C115.308 61.1459 114.234 60.3262 112.958 60.3262Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M124.696 73.4746C123.076 73.4746 121.762 74.7873 121.762 76.4091C121.762 78.031 123.076 79.3437 124.696 79.3437C125.972 79.3437 127.046 78.524 127.451 77.3873H145.238V75.431H127.451C127.046 74.2943 125.972 73.4746 124.696 73.4746Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M105.13 81.2988C103.51 81.2988 102.195 82.6115 102.195 84.2334C102.195 85.8532 103.51 87.1679 105.13 87.1679C106.405 87.1679 107.479 86.3482 107.884 85.2115H145.235V83.2552H107.884C107.479 82.1166 106.405 81.2988 105.13 81.2988Z"
      fill="white"
      fill-opacity="0.16"
    ></path>
    <path
      d="M33.5 68.1 H75.4 L99.9 92.5 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 5s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M33.5 75.9 H72.2 L96.6 100.4 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 5.4s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M33.5 83.7 H69 L93.4 108.2 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 5.8s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M33.5 33.7 H75.8 L102.1 7.5 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 6.2s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M10.8 2.9 V42.5 H79.1 L105.3 15.3 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 6.6s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M2.9 49.4 H82.3 L108.5 23.2 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 7s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M33.5 57.2 H85.5 L111.8 31 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 7.4s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M124.7 47.6 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 7.8s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M113 55.4 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 8.2s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M113 63.3 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 8.6s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M124.7 76.4 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 9s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <path
      d="M105.1 84.2 H145.2"
      stroke="url(#circuit-grad)"
      stroke-width="2"
      fill="none"
      pathLength="1"
      stroke-dasharray="0.1 0.9"
      style="
        stroke-dashoffset: 1;
        will-change: stroke-dashoffset;
        animation: 9.4s linear 0s infinite normal none running circuit-pulse;
      "
    ></path>
    <circle
      cx="33.5"
      cy="68.1"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="33.5"
      cy="75.9"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="33.5"
      cy="83.7"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="33.5"
      cy="33.7"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="10.8"
      cy="2.9"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="2.9"
      cy="49.4"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="33.5"
      cy="57.2"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="124.7"
      cy="47.6"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="113"
      cy="55.4"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="113"
      cy="63.3"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="124.7"
      cy="76.4"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
    <circle
      cx="105.1"
      cy="84.2"
      r="3"
      fill="#27B578"
      style="
        opacity: 0.05;
        animation: 5s ease-in-out 0s infinite normal none running
          circuit-node-glow;
      "
    ></circle>
  </svg>
</div>
